.moviecard {
  width: 300px;
  height: 100%;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;

}
  
.moviecard-img-container {
  text-align: center;
  padding: 10px 0 10px 0px;
}
  
.moviecard-img-container img {
    width: 260px;
    height: 163px;
    padding-top: 5px;
}
  
.moviecard-data-container {
  display: flex;
  flex-direction: column;
  margin: 05px 0 0 10px;
}
  
.moviecard-data-container h5 {
  font-size: 20px;
  color: #ffffff;
  margin: 0px 0px 0px 05px;
}
  
.moviecard-data-container h6 {
  font-size: 16px;
  margin: 0px 0px 0px 05px;
}
  
.moviecard-data-container p {
  font-size: 14px;
  color: #ffffff;
  margin: 0px 0px 0px 05px;
}
  
.moviecard-synopsis-container {
  height: 270px;
  font-size: 14px;
  margin: 10px;
  padding: 05px;
  border-radius: 10px;

}

.moviecard-synopsis-container p {
  height: 250px;
  padding: 5px;
  font-size: 14px;
  color: #ffffff;
  border: solid 1px white;
  border-radius: 10px;
}

@media (min-width: 576px) {
  .moviecard {
    width: 536px;
    height: 661px;
  }

  .moviecard-img-container img {
    width: 496px;
    height: 311px;
  }


  .moviecard-synopsis-container {
    width: 496px;
    height: 204px;
    margin: 10px;
    padding: 05px;
    border-radius: 10px;
  
  }

  .moviecard-synopsis-container p {
    height: 191px;
    padding: 5px;
    font-size: 16px;
    color: #ffffff;
    border: solid 1px white;
    border-radius: 10px;
  }

}

@media (min-width:768px){
  .moviecard-img-container {
    height: 382px;
  }
}

@media (min-width:992px){

  .moviecard {
    width: 912px;
    height: 685px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .moviecard-img-container {
    width: 608px;
    height: 382px;
  }
}

@media (min-width:1200px){
  .img-card-details {
    height: 314px;
  }
}