.moviecard {
    margin-bottom: 10px;
    width: 300px;
    height: 100%;
    display: block;
    justify-content: center;
    justify-items: center;
  }
  
  .moviecard-img-container {
    text-align: center;
    padding: 10px 0 10px 0;
  }
  
  .moviecard-img-container img {
      width: 260px;
      height: 163px;
  }
  
  .moviecard-data-container {
    display: flex;
    flex-direction: column;
    margin: 05px 0 0 10px;
  }
  
  .moviecard-data-container h5 {
    font-size: 20px;
    color: #ffffff;
    margin: 0px 0px 0px 05px;
  }
  
  .moviecard-data-container h6 {
    font-size: 16px;
    margin: 0px 0px 0px 05px;
  }
  
  .moviecard-data-container p {
    font-size: 14px;
    color: #ffffff;
    margin: 0px 0px 0px 05px;
  }
  
  .moviecard-synopsis-container {
    height: 250px;
    font-size: 14px;
    margin: 10px;
    padding: 05px;
    border-radius: 08px;
    border: solid 1px white;
  }

  .moviecard-synopsis-container p {
    height:210px;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #ffffff;
  }
  
    @media (min-width: 576px) {
  
    .moviecard {
      width: 258px;
      height: 322px;
      
      margin: 10px 10px 10px 0;
    }
  
    .moviecard-img-container img {
        width: 100%;
        height: 165px;
    }
  
  }