.form-review-container {
    display: block;
    flex-direction: column;
    align-items: center; 
    margin-top: 05px;
}

.input-review {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 25px;
}

.input-review::placeholder {
    text-align: left;
    width: 100%;
    color: #9E9E9E;
    font-weight: normal;
}

.input-review:focus {
    text-align: left;
    width: 100%;
    background-color: #fff;
    color: #9E9E9E;
}

.btn-review {
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.errorvalidation-review {
    color: white;
}

@media (min-width: 576px) {

    .form-review-container {
        display: block;
        flex-direction: column;
        align-items: center;
    }

    .input-review {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .btn-review {
        width: 100%;
        font-weight: bold;
    }

}

@media (min-width: 768px) {

    .form-review-container {
        align-items: center;
    }

    .input-review {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .btn-review {
        width: 100%;
    }
}

@media (min-width: 992px) {
    
    .form-review-container {
        width: 912px;
        height: 160px;
        display: flex;
        align-items: center;
    }
    
    .input-review {
        width: 832px;
        text-align: left;
        margin-bottom: 20px;
    }
    
    .input-review::placeholder {
        text-align: left;
        color: #9E9E9E;
        font-weight: normal;
    }
    
    .input-review:focus {
        text-align: left;
        background-color: #fff;
        color: #9E9E9E;
    }

    .btn-review {
        width: 400px;
    }

    
}

@media (min-width: 1200px) {

    .form-review-container {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .input-review {
        width: 1040px;
        text-align: center;
    }

    .input-review::placeholder {
        text-align: left;
        color: #9E9E9E;
        font-weight: normal;
    }
    
    .input-review:focus {
        width: 1040px;
        text-align: left;
        background-color: #fff;
        color: #9E9E9E;
    }
 
    .btn-review {
        width: 334px;
        font-weight: bold;
    }
    
}