.movies-container {
    display: block;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.screen-title {
    padding-left: 10px;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.item-movie-container {
    font-size: 20px;
    margin-top: 40px;
}