@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a, a:hover {
    text-decoration: none;
    color: unset;
}

.base-card {
    background-color: #6C6C6C;
    border-radius: 04px;
  }

  .base-input {
    border-radius: 4px;
    font-size: 1em;
    letter-spacing: -0.015em;
    color: #263238;
    height: 50px;
    background-color: #fefefe;
/*    width: 264px;
    margin: 17px;
*/  
  }
   
  .base-input::placeholder {
    color: #9E9E9E;
  }

  @media (min-width: 576px) {
    .base-input {
      height: 47px;
      width: 384px;
      margin: 0px;
    }
  }

  @media (min-width: 768px) {
    .base-input {
      height: 47px;
      width: 384px;
      margin: 0px;
    }
  }
