.movie-card {
  width: 300px;
  height: 322px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-top-container {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #e1e1e1;
}

.card-top-container img {
  width: 100%;
  height: 165px;
}

.card-data-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;

}

.card-data-container h5 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 5px;
}

.card-data-container h6 {
  font-size: 16px;
}

.card-data-container p {
  font-size: 14px;
  color: #ffffff;

}



